In [18]:
import sqlite3
rh = sqlite3.connect('lição.db')
rh.execute("""CREATE TABLE Funcionarios (
cod_func INTEGER PRIMARY KEY NOT NULL,
primeiro_nome VARCHAR NOT NULL,
segundo_nome VARCHAR,
ultimo_nome VARCHAR,
data_nasci TEXT NOT NULL,
cpf INTEGER NOT NULL,
rg INTEGER NOT NULL,
endereço VARCHAR NOT NULL,
cep INTEGER NOT NULL,
Cidade VARCHAR NOT NULL,
fone INTEGER NOT NULL,
cod_dep INTEGER NOT NULL,
funcao INTEGER NOT NULL,
salario INTEGER NOT NULL);""")
rh.commit()

In [19]:
rh.execute("""CREATE TABLE Departamentos(
codigo INTEGER PRIMARY KEY NOT NULL,
nome VARCHAR NOT NULL,
Localizaçao TEXT NOT NULL,
Cod_Func_Ger INTEGER NOT NULL);""")
rh.commit()

In [26]:
cursor = rh.cursor()

In [22]:
#para ter como opção
sql = """
DROP TABLE Departamentos
"""
rh.execute(sql)
rh.commit()
print("tabela deletada")

OperationalError: database is locked

In [33]:
for row in cursor.execute("SELECT * FROM Funcionarios"):
    print(row)

(65, 'Sofia', 'Mendes', 'Santos', '15/04/1992', 48372619504, 426831579, 'Rua das Rosas', '12345-678', 'Montanha Alta', '(11) 98765-4321', 3, 1, 4500)
(80, 'Lucas', None, 'Silva', '03/09/1985', 91753068420, 975028413, 'Rua dos Cedros', '98765-432', 'Rio Brilhante', '(21) 98765-4321', 2, 3, 2800.5)
(88, 'Isabela', 'Pereira', 'Oliveira', '22/07/2000', 65289143760, 203714856, 'Rua das Violetas', '56789-012', 'Vale Sereno', '(31) 98765-4321', 3, 4, 6200.75)
(91, 'Gabriel', None, 'Pereira', '11/11/1978', 30857291683, 687395124, 'Rua dos Lírios', '23456-789', 'Campo Alegre', '(41) 98765-4321', 3, 4, 3700.25)
(128, 'Laura', 'Santos', 'Costa', '29/06/1996', 72614908357, 140296837, 'Rua das Acácias', '87654-321', 'Cidade do Mar', '(51) 98765-4321', 3, 5, 5200.8)
(141, 'Matheus', 'Rodrigues', 'Rodrigues', '07/02/1983', 41592783602, 359482701, 'Rua dos Ipês', '34567-890', 'Nova Esperança', '(61) 98765-4321', 3, 4, 3100.6)
(145, 'Ana', None, 'Almeida', '18/10/1990', 83960527148, 802167394, 'Rua das Margaridas', '65432-109', 'Flores do Sul', '(71) 98765-4321', 3, 3, 5800.9)
(152, 'Pedro', None, 'Fernandes', '25/12/2005', 12670439581, 514739260, 'Rua dos Jasmim', '98765-432', 'Porto Verde', '(81) 98765-4321', 1, 1, 4200.4)
(154, 'Maria', 'Silva', 'Carvalho', '14/08/1974', 57083629418, 648503912, 'Rua das Orquídeas', '45678-901', 'Serra Dourada', '(91) 98765-4321', 1, 2, 6700.7)
(166, 'João', 'Carvalho', 'Mendes', '30/01/1999', 29481570362, 321670589, 'Rua dos Girassóis', '78901-234', 'Praia Serena', '(12) 98765-4321', 3, 2, 3900.2)

In [31]:
for row in cursor.execute("SELECT * FROM Departamentos"):
    print(row)

(1, 'Produção', 'Pavilhão', 154)
(2, 'Adm.', 'Central 1', 88)
(3, 'RH', 'Central 2', 80)

In [34]:
cursor.execute("""SELECT primeiro_nome, ultimo_nome 
FROM Funcionarios 
ORDER BY ultimo_nome""")
print(cursor.fetchall())

[('Ana', 'Almeida'), ('Maria', 'Carvalho'), ('Laura', 'Costa'), ('Pedro', 'Fernandes'), ('João', 'Mendes'), ('Isabela', 'Oliveira'), ('Gabriel', 'Pereira'), ('Matheus', 'Rodrigues'), ('Sofia', 'Santos'), ('Lucas', 'Silva')]

In [36]:
cursor.execute("""SELECT * FROM Funcionarios 
ORDER BY cidade""")
print(cursor.fetchall())

[(91, 'Gabriel', None, 'Pereira', '11/11/1978', 30857291683, 687395124, 'Rua dos Lírios', '23456-789', 'Campo Alegre', '(41) 98765-4321', 3, 4, 3700.25), (128, 'Laura', 'Santos', 'Costa', '29/06/1996', 72614908357, 140296837, 'Rua das Acácias', '87654-321', 'Cidade do Mar', '(51) 98765-4321', 3, 5, 5200.8), (145, 'Ana', None, 'Almeida', '18/10/1990', 83960527148, 802167394, 'Rua das Margaridas', '65432-109', 'Flores do Sul', '(71) 98765-4321', 3, 3, 5800.9), (65, 'Sofia', 'Mendes', 'Santos', '15/04/1992', 48372619504, 426831579, 'Rua das Rosas', '12345-678', 'Montanha Alta', '(11) 98765-4321', 3, 1, 4500), (141, 'Matheus', 'Rodrigues', 'Rodrigues', '07/02/1983', 41592783602, 359482701, 'Rua dos Ipês', '34567-890', 'Nova Esperança', '(61) 98765-4321', 3, 4, 3100.6), (152, 'Pedro', None, 'Fernandes', '25/12/2005', 12670439581, 514739260, 'Rua dos Jasmim', '98765-432', 'Porto Verde', '(81) 98765-4321', 1, 1, 4200.4), (166, 'João', 'Carvalho', 'Mendes', '30/01/1999', 29481570362, 321670589, 'Rua dos Girassóis', '78901-234', 'Praia Serena', '(12) 98765-4321', 3, 2, 3900.2), (80, 'Lucas', None, 'Silva', '03/09/1985', 91753068420, 975028413, 'Rua dos Cedros', '98765-432', 'Rio Brilhante', '(21) 98765-4321', 2, 3, 2800.5), (154, 'Maria', 'Silva', 'Carvalho', '14/08/1974', 57083629418, 648503912, 'Rua das Orquídeas', '45678-901', 'Serra Dourada', '(91) 98765-4321', 1, 2, 6700.7), (88, 'Isabela', 'Pereira', 'Oliveira', '22/07/2000', 65289143760, 203714856, 'Rua das Violetas', '56789-012', 'Vale Sereno', '(31) 98765-4321', 3, 4, 6200.75)]

In [38]:
#mudança de 1000 para 4000 mil para facilitar a leitura
cursor.execute("""SELECT * FROM Funcionarios
WHERE salario > 4000
ORDER BY primeiro_nome, segundo_nome, ultimo_nome""")
print(cursor.fetchall())

[(145, 'Ana', None, 'Almeida', '18/10/1990', 83960527148, 802167394, 'Rua das Margaridas', '65432-109', 'Flores do Sul', '(71) 98765-4321', 3, 3, 5800.9), (88, 'Isabela', 'Pereira', 'Oliveira', '22/07/2000', 65289143760, 203714856, 'Rua das Violetas', '56789-012', 'Vale Sereno', '(31) 98765-4321', 3, 4, 6200.75), (128, 'Laura', 'Santos', 'Costa', '29/06/1996', 72614908357, 140296837, 'Rua das Acácias', '87654-321', 'Cidade do Mar', '(51) 98765-4321', 3, 5, 5200.8), (154, 'Maria', 'Silva', 'Carvalho', '14/08/1974', 57083629418, 648503912, 'Rua das Orquídeas', '45678-901', 'Serra Dourada', '(91) 98765-4321', 1, 2, 6700.7), (152, 'Pedro', None, 'Fernandes', '25/12/2005', 12670439581, 514739260, 'Rua dos Jasmim', '98765-432', 'Porto Verde', '(81) 98765-4321', 1, 1, 4200.4), (65, 'Sofia', 'Mendes', 'Santos', '15/04/1992', 48372619504, 426831579, 'Rua das Rosas', '12345-678', 'Montanha Alta', '(11) 98765-4321', 3, 1, 4500)]

In [39]:
cursor.execute("""SELECT data_nasci, primeiro_nome
FROM Funcionarios 
ORDER BY data_nasci DESC""")
print(cursor.fetchall())

[('30/01/1999', 'João'), ('29/06/1996', 'Laura'), ('25/12/2005', 'Pedro'), ('22/07/2000', 'Isabela'), ('18/10/1990', 'Ana'), ('15/04/1992', 'Sofia'), ('14/08/1974', 'Maria'), ('11/11/1978', 'Gabriel'), ('07/02/1983', 'Matheus'), ('03/09/1985', 'Lucas')]

In [40]:
cursor.execute("""SELECT SUM(salario) 
FROM Funcionarios""")
print(cursor.fetchall())

[(46105.09999999999,)]

In [41]:
cursor.execute("""SELECT Funcionarios.primeiro_nome, Departamentos.nome, 
Funcionarios.funcao
FROM Funcionarios JOIN Departamentos
ON Funcionarios.cod_dep = Departamentos.codigo
ORDER BY Funcionarios.primeiro_nome""")
print(cursor.fetchall())

[('Ana', 'RH', 3), ('Gabriel', 'RH', 4), ('Isabela', 'RH', 4), ('João', 'RH', 2), ('Laura', 'RH', 5), ('Lucas', 'Adm.', 3), ('Maria', 'Produção', 2), ('Matheus', 'RH', 4), ('Pedro', 'Produção', 1), ('Sofia', 'RH', 1)]

In [42]:
cursor.execute("""SELECT COUNT(*)
FROM Funcionarios""")
print(cursor.fetchall())

[(10,)]

In [43]:
cursor.execute("""SELECT Departamentos.nome, Funcionarios.primeiro_nome
FROM Departamentos JOIN 
Funcionarios ON Departamentos.codigo = 
Funcionarios.cod_dep
ORDER BY Departamentos.nome, Funcionarios.primeiro_nome""")
print(cursor.fetchall())

[('Adm.', 'Lucas'), ('Produção', 'Maria'), ('Produção', 'Pedro'), ('RH', 'Ana'), ('RH', 'Gabriel'), ('RH', 'Isabela'), ('RH', 'João'), ('RH', 'Laura'), ('RH', 'Matheus'), ('RH', 'Sofia')]